#wrapper{
	width: 1000px;
	margin: 0px auto;
	border: 1px solid black;
	padding: 40px;
}
#left1{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	float: left;
}
#content1{
	width: 520px;
	height: 200px;
	border: 1px solid black;
	float: left;
	margin: 0px 37px;
}
#right1{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	float: right;
}
.clearfix{
	clear: both;
}
#left2{
	width: 200px;
	height: 500px;
	border: 1px solid black;
	float: left;
}
#content2{
	width: 520px;
	height: 500px;
	border: 1px solid black;
	float: left;
	margin: 0px 37px;
}
#right2{
	width: 200px;
	height: 500px;
	border: 1px solid black;
	float: right;
}
#left3{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	float: left;
}
#content3{
	width: 520px;
	height: 200px;
	border: 1px solid black;
	float: left;
	margin: 0px 37px;
}
#right3{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	float: right;
}
#header, #middle{
	margin-bottom: 40px;
}